#p1, #p2, #p3, #p4, #p5, #p6, #p7 {
    margin-top: 25px;
    margin-right: 50px;
    margin-left: 100px;
    margin-bottom: 75px;
}

#p1 {
    border-style: solid;
    border-color: aqua;
    width: 300px;
    border-width: 5px;
    background-color: aqua;
    border-radius: 10px;
}

#p2 {
    border-style: solid;
    border-color: pink;
    width: 300px;
    border-width: 3px;
    background-color: pink;
}

#p3 {
    border-style: dotted;
    border-color: blue;
    width: 300px;
    border-width: 2px;
    background-color: blue;
}

#p4 {
    border-style: dotted;
    border-color: blueviolet;
    width: 300px;
    border-width: 5px;
    background-color: blueviolet;
}

#p5 {
    border-style: double;
    border-color: brown;
    width: 300px;
    border-width: 15px;
    background-color: brown;
}

#p6 {
    border-style: double;
    border-color: red;
    width: 300px;
    border-width: 5px;
    background-color: red;
}

#p7 {
    border-style: solid double;
    border-color: yellow;
    width: 300px;
    border-width: 10px;
    background-color: yellow;
}